<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Architecture">
            <directory>tests/Architecture</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <!-- server: Laravel Env lê $_SERVER com prioridade sobre putenv/$_ENV no container Docker -->
        <server name="APP_ENV" value="testing"/>
        <server name="AUTH_TWO_FACTOR_REQUIRED" value="true"/>
        <server name="APP_MAINTENANCE_DRIVER" value="file"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="BROADCAST_CONNECTION" value="null"/>
        <server name="CACHE_STORE" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="DB_URL" value=""/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="PULSE_ENABLED" value="false"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="NIGHTWATCH_ENABLED" value="false"/>
        <server name="VAULT_MASTER_KEY" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="/>
        <server name="VAULT_MASTER_KEY_VERSION" value="1"/>
        <server name="VAULT_DISK_ROOT" value="/tmp/nfse-vault-test"/>
        <server name="LOG_CHANNEL" value="stderr"/>
        <!-- Canal MA: $_SERVER precisa vencer as flags do piloto injetadas pelo Docker -->
        <server name="SEFAZ_MA_OUTBOUND_ENABLED" value="false"/>
        <server name="SEFAZ_MA_PROTOCOL_QUERY_ENABLED" value="false"/>
        <server name="SEFAZ_MA_M2M_RETRIEVAL_ENABLED" value="false"/>
        <server name="SEFAZ_MA_MUTATING_PROBE_ENABLED" value="false"/>
        <server name="SEFAZ_MA_OUTBOUND_KILL_SWITCH" value="false"/>
        <server name="SEFAZ_MA_M2M_STATUS" value="NO_GO_M2M"/>
        <server name="SEFAZ_SVRS_NFCE_XML_REQUIRE_SIGNATURE" value="false"/>
        <server name="SEFAZ_SVRS_NFCE_XML_RETRIEVAL_ENABLED" value="false"/>
        <server name="SEFAZ_SVRS_NFCE_XML_AUTO_QUEUE_ENABLED" value="false"/>
        <server name="SEFAZ_SVRS_NFCE_XML_KILL_SWITCH" value="false"/>
        <server name="SEFAZ_SVRS_NFCE_XML_PILOT_ALLOWLIST_ONLY" value="false"/>
        <server name="SEFAZ_SVRS_NFE55_XML_RETRIEVAL_ENABLED" value="false"/>
        <server name="SEFAZ_SVRS_NFE55_XML_AUTO_QUEUE_ENABLED" value="false"/>
        <server name="SEFAZ_SVRS_NFE55_XML_KILL_SWITCH" value="false"/>
        <server name="SVRS_EGRESS_COHORT_ID" value="test-cohort"/>

        <env name="APP_ENV" value="testing" force="true"/>
        <env name="AUTH_TWO_FACTOR_REQUIRED" value="true" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4" force="true"/>
        <env name="BROADCAST_CONNECTION" value="null" force="true"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="PULSE_ENABLED" value="false" force="true"/>
        <env name="TELESCOPE_ENABLED" value="false" force="true"/>
        <env name="NIGHTWATCH_ENABLED" value="false" force="true"/>
        <env name="VAULT_MASTER_KEY" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" force="true"/>
        <env name="VAULT_MASTER_KEY_VERSION" value="1" force="true"/>
        <env name="VAULT_DISK_ROOT" value="/tmp/nfse-vault-test" force="true"/>
        <env name="LOG_CHANNEL" value="stderr" force="true"/>
        <!-- Canal MA: defaults off no CI mesmo se .env local tiver piloto ligado -->
        <env name="SEFAZ_MA_OUTBOUND_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_MA_PROTOCOL_QUERY_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_MA_M2M_RETRIEVAL_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_MA_MUTATING_PROBE_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_MA_OUTBOUND_KILL_SWITCH" value="false" force="true"/>
        <env name="SEFAZ_MA_M2M_STATUS" value="NO_GO_M2M" force="true"/>
        <!-- Canal autXML do escritório: defaults off no CI -->
        <env name="SEFAZ_AUTXML_DISTDFE_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_AUTXML_KILL_SWITCH" value="false" force="true"/>
        <env name="SEFAZ_AUTXML_OFFICE_ALLOWLIST" value="" force="true"/>
        <env name="SEFAZ_AUTXML_ALLOW_ALL_OFFICES" value="false" force="true"/>
        <env name="IMPORT_ASYNC_BATCHES_ENABLED" value="false" force="true"/>
        <env name="OUTBOUND_DEADLINE_SCHEDULING_ENABLED" value="false" force="true"/>
        <env name="OUTBOUND_DEADLINE_PLANNER_ENABLED" value="false" force="true"/>
        <env name="OUTBOUND_DEADLINE_DISPATCH_ENABLED" value="false" force="true"/>
        <env name="OUTBOUND_DEADLINE_SHADOW_MODE" value="true" force="true"/>
        <env name="OUTBOUND_DEADLINE_RETRY_POLICY" value="false" force="true"/>
        <!-- Portal SVRS: defaults off no CI mesmo com kill switch de piloto no .env -->
        <env name="SEFAZ_SVRS_NFCE_XML_RETRIEVAL_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_SVRS_NFCE_XML_AUTO_QUEUE_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_SVRS_NFCE_XML_PILOT_ALLOWLIST_ONLY" value="false" force="true"/>
        <env name="SEFAZ_SVRS_NFCE_XML_KILL_SWITCH" value="false" force="true"/>
        <env name="SEFAZ_SVRS_NFCE_XML_REQUIRE_SIGNATURE" value="false" force="true"/>
        <env name="SEFAZ_SVRS_NFE55_XML_RETRIEVAL_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_SVRS_NFE55_XML_AUTO_QUEUE_ENABLED" value="false" force="true"/>
        <env name="SEFAZ_SVRS_NFE55_XML_KILL_SWITCH" value="false" force="true"/>
        <env name="SVRS_EGRESS_COHORT_ID" value="test-cohort" force="true"/>
        <env name="SVRS_EGRESS_MIN_INTERVAL_GLOBAL" value="120" force="true"/>
        <env name="SVRS_EGRESS_MIN_INTERVAL_ROOT" value="900" force="true"/>
        <env name="SVRS_EGRESS_MAX_KEYS_PER_JOB" value="1" force="true"/>
    </php>
</phpunit>
